/* Estilos básicos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Press Start 2P", sans-serif;
    background-color: #00ffff;
}

/* Cabeçalho */
.cabecalho {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    max-width: 800px;
}

.cabecalho__titulo {
    color: #ef5350;
    font-size: 2rem;
}

/* Conteúdo principal */
.conteudo {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    text-align: center;
}

.conteudo__entrada {
    width: 100%;
    height: 2.5rem;
    padding: 5px;
    border: 2px solid #ef5350;
    border-radius: 5px;
    margin-bottom: 10px;
}

.carregando {
    display: none;
    font-size: 1rem;
    color: #000;
    margin: 10px 0;
}

/* Lista de Pokémons */
.lista-pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.cartao-pokemon {
    background-color: #e6e6e6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
}

.cartao-pokemon:hover {
    transform: scale(1.05);
}

.cartao-pokemon img {
    max-width: 100px;
    margin-bottom: 10px;
}

.cartao-pokemon p {
    font-size: 1rem;
    color: #000;
    text-transform: capitalize;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .cartao-pokemon {
        width: 90%;
    }
}
